.error {color: #FF0000;}

body {
  background-color: #f2f2f2;
  font-family: sans-serif;
  text-transform: capitalize;
}

.container {
  background-color: #e6e6e6;
  margin: 0 auto;
  width: 400px;
  height: 550px;
  border-radius: 3px;
  box-shadow: 8px 5px 15px #b3b4b4;
}
header {
  text-align: center;
}

form {
  margin: 0 25px 0 25px;
}
fieldset{
  border-radius: 3px;
}

input {
  width: 312px;
  height: 20px;
  margin: 3px 0 3px 0;
  padding: 0;
}

.input_r {
  width: 20px;
}

.date {
  width: 120px;
}
